<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="static/style.css" />
    <title>Play 4X</title>
</head>
<body>
	{% block header %}
	<div id="header">
		{% block topbox %}
		<div id="topbox">
			<div id="logobox">
				<div id="title">4X</div>
				<div id="subtitle">A Game of Interstellar Conquest</div>
			</div>
			{% block navbar %}
			<div id="navbar">
				<div id="home" class="navitem{% ifequal {{ location }} 'home' %} active{% endif %}"><a href="/">Home</a></div>
				<div id="games" class="navitem{% ifequal {{ location }} 'games' %} active{% endif %}"><a href="/games">Games</a></div>
			</div>
			{% endblock navbar %}
		</div>
		{% endblock topbox %}
		{% block loginbox %}
		<div id="loginbox">
			{% if not player %}
				<div>You are not logged in.</div>
				<div><a href="{{ login_url }}">Log In</a> or <a href="/sign_up">Sign Up</a>.</div>
			{% else %}
				<div>You are logged in as <span class="username">{{ player.nickname }}</span>.</div>
				<div><a href="{{ logout_url }}">Log Out</a>.</div>
			{% endif %}
		</div>
		{% endblock loginbox %}
	</div>
	{% endblock header %}
	{% block content %}
		{{ content }}
	{% endblock content %}
</body>
</html>
