<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="static/style.css" />
    <title>Play 4X</title>
</head>
<body>
	<div id="container">
		{% block header %}
		<div id="header">
			{% block loginbox %}
			<div id="loginbox" class="contentbox sidecolumn">
				{% if not player %}
					<div>Not logged in.</div>
					<div><a href="{{ login_url }}">Log In</a></div>
					<div><a href="/sign_up">Sign Up</a></div>
				{% else %}
					<div>Logged in as:</div>
					<div class="username">{{ player.nickname }}</div>
					<div><a href="{{ logout_url }}">Log Out</a></div>
				{% endif %}
			</div>
			{% endblock loginbox %}
			{% block topbox %}
			<div id="topbox" class="contentbox maincolumn">
				<h1 id="title">4X</h1>
				<h2 id="subtitle">A Game of Interstellar Conquest</h2>
			</div>
			{% endblock topbox %}
		</div>
		{% endblock header %}
		{% block navbar %}
		<div id="navbar">
			<div id="navitems" class="contentbox">
				<a href="/" class="navitem{% ifequal location 'home' %} active{% endifequal %}">Home</a><a href="/games" class="navitem{% ifequal location 'games' %} active{% endifequal %}">Games</a>
			</div>
		</div>
		{% endblock navbar %}
		{% block main %}
		<div id="main">
			<div id="maincontent" class="contentbox">
				Main content goes here
			</div>
		</div>
		{% endblock main %}
		{% block footer %}
		<div id="footer">
			<div id="copyright" class="contentbox">
				4X &copy; 2010 Black Knight Games. All rights reserved.
			</div>
		</div>
		{% endblock footer %}
	</div>
</body>
</html>
