a:link, a:visited {
	text-decoration: none;
	color: #00cc00;
}
a:hover {
	text-decoration: none;
	color: #0f0;
}
body {
    background-color: #00cc00;
	margin: 0px;
}
#container {
	margin: 5px;
}
#header {
	background-color: black;
	color: #00cc00;
	margin: 0px;
}
#loginbox {
	float: right;
	width: 200px;
	height: 50px;
	margin: 25px 10px;
}
#topbox {
	margin: 0px;
	padding: 0px;
}
#title {
	font-size: 80px;
	line-height: 100px;
	margin-left: 10px;
	display: inline;
}
#subtitle {
	font-size: 30px;
	margin-left: 10px;
	display: inline;
}
#navbar {
	background-color: black;
	color: #0f0;
	margin-top: 2px;
}
#navbar div {
	display: inline;
	margin: 25px 25px;
}
#main {
	background-color: black;
	color: #00cc00;
	margin-top: 2px;
}
#footer {
	background-color: black;
	color: #00cc00;
	margin-top: 2px;
}